:root {
  --black: #121212;
  --white: #ffffff;
  --grey: #777777;
  --dark-grey: rgba(28, 28, 28, 0.7);
  --dark-grey-material: rgba(28, 28, 28, 1);
  --dark-grey-material-selected: #505050;
  --green: #1db954;

  --hover-delay: 0.16s;

  --x-margin: 3.2rem;
  --y-spacing: 2.4rem;
  --body-max-width: 72rem;
  --content-gap: 7.2rem;

}



@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-50%));
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100vw;
  overflow-x: visible;
}

body {
  background-color: var(--black);
  color: var(--white);

  font-size: 0.84rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  min-height: 100vh;

  padding-bottom: 1.6rem;

  z-index: 0;
}



a {
  color: inherit;
  text-decoration: none;
  text-underline-offset: 0.048rem;

  &:hover {
    text-decoration: underline;
  }
}

input:focus,
textarea:focus,
select:focus {
  outline-offset: 0rem !important;
  outline: solid rgba(255, 255, 255, 0.4) 0.16rem !important;
}

.loginButton {
  display: flex;
  flex-direction: row;
  gap: 0.8rem;
  align-items: center;
  justify-content: flex-end;

  background-color: var(--green);
  border: none;
  border-radius: 2.4rem;
  padding: 0.6rem 1.4rem 0.6rem 1rem;
  color: var(--white);
  font-size: 0.8rem;
  font-weight: 500;
  cursor: pointer;

  transition: transform var(--hover-delay);

  &:hover {
    transform: scale(1.02);
  }

  p {
    font-size: 1rem;
  }

  .spotifyLogo {
    position: relative;
    width: 1.8rem;
    height: 1.8rem;
  }

}

.scrollIfOverflow {
  overflow: visible;
  position: relative;

  .redundant {
    display: inline;
    margin-left: 2rem;
    position: absolute;
  }

  &.scroll>* {
    animation: scroll 16s linear infinite;
    display: table;
    position: relative;
  }
}

.hoverMenu {
  position: relative;

  .item {
    z-index: 1;
  }

  .menu {
    transition: opacity var(--hover-delay);
    display: none;
    opacity: 0;
    pointer-events: none;

    backdrop-filter: blur(2.4rem);
    -webkit-backdrop-filter: blur(2.4rem);
  }

  &:hover {
    text-decoration: none;

    .item {
      z-index: 3;
    }

    .menu {
      z-index: 2;
      opacity: 1;
      pointer-events: all;
    }
  }

  &.textualHoverMenu {
    display: inline;
    position: relative;
    cursor: pointer;
    white-space: nowrap;

    .item {
      position: relative;
      cursor: pointer;
      display: inline;
      z-index: 1;

      p {
        display: inline;
        font-size: 1rem;
        vertical-align: bottom;
      }
    }

    .menu {
      z-index: 2;

      position: absolute;
      left: -0.6rem;
      top: -0.6rem;
      bottom: -0.6rem;
      right: -2.8rem;
      padding: 0.3rem 0.5rem;

      background-color: var(--dark-grey);
      border-radius: 1.5rem;

      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .textualIcon {
        position: relative;
        display: block;
        height: 100%;
        aspect-ratio: 1;

        svg {
          width: 100%;
          height: 100%;
          opacity: 0.6;
        }
      }

    }

    &.artistHoverMenu {
      .menu {
        left: -2.5rem;
        top: -0.6rem;
        bottom: -0.6rem;
        right: -2.5rem;
        padding: 0.3rem 0.5rem 0.3rem 0.3rem;

        img {
          border-radius: 1.5rem;
          overflow: hidden;
        }

        svg {
          padding: 0.15rem;
        }
      }
    }

    &.albumHoverMenu {
      .menu {
        left: -2.5rem;
        top: -0.6rem;
        bottom: -0.6rem;
        right: -2.5rem;
        padding: 0.3rem 0.5rem 0.3rem 0.3rem;

        border-top-left-radius: 0.5rem;
        border-bottom-left-radius: 0.5rem;

        img {
          border-radius: 0.2rem;
          overflow: hidden;
          padding: 0rem;
        }

        svg {
          padding: 0.15rem;
        }
      }
    }

    &.trackHoverMenu {
      .menu {
        left: -2.5rem;
        top: -0.6rem;
        bottom: -0.6rem;
        right: -2.5rem;
        padding: 0.3rem 0.5rem 0.3rem 0.3rem;

        border-top-left-radius: 0.5rem;
        border-bottom-left-radius: 0.5rem;

        img {
          border-radius: 0.2rem;
          overflow: hidden;
          padding: 0rem;
        }

        svg {
          padding: 0.15rem;
        }
      }
    }

    &.articleHoverMenu {
      .menu {
        left: -2.5rem;
        top: -0.6rem;
        bottom: -0.6rem;
        right: -2.5rem;
        padding: 0.3rem 0.5rem 0.3rem 0.3rem;

        img {
          border-radius: 1.5rem;
          overflow: hidden;
          background-color: var(--white);
        }

        svg {
          padding: 0.15rem;
        }
      }
    }
  }
}


.player {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  padding-left: var(--x-margin);
  padding-right: var(--x-margin);

  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 1.2rem;
  padding-bottom: 1.1rem;
  gap: 2.4rem;

  backdrop-filter: blur(2.4rem);
  -webkit-backdrop-filter: blur(2.4rem);

  z-index: 4;

  * {
    z-index: 6;
  }

  .playbackBackground {
    position: absolute;

    top: 0;
    left: -24%;
    right: -24%;
    bottom: 0;

    z-index: 3;
    opacity: 0.24;
  }

  .trackInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.6rem;
    margin-right: 1.2rem;
    overflow: visible;

    flex-shrink: 1;
    min-width: 14rem;
    max-width: 36rem;

    .albumCover {
      flex-shrink: 0;

      position: relative;
      aspect-ratio: 1;
      width: 4rem;
      height: 4rem;

      cursor: pointer;

      border-radius: 0.2rem;
      overflow: hidden;
    }

    .albumPlaceholder {
      flex-shrink: 0;

      width: 100%;
      height: 100%;
      background-color: var(--grey);
      opacity: 0.6;

      position: relative;
      aspect-ratio: 1;
      width: 4rem;
      height: 4rem;

      border-radius: 0.2rem;
      overflow: hidden;
    }

    .infoStack {
      flex-shrink: 1;
      margin-left: 1rem;
      display: flex;
      flex-direction: column;
      white-space: nowrap;
      gap: 0.24rem;
      min-width: 0;
      overflow-x: hidden;

      .songTitle {
        font-weight: 500;
        display: inline;
      }

      .artistNames {
        font-weight: 500;
        opacity: .6;
        display: inline;
      }

      .artistName {
        display: inline;
      }
    }
  }

  .timeline {
    flex-shrink: 50;
    margin: 0 auto;
    width: 100%;
    max-width: 36rem;
    min-width: 8rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    cursor: pointer;

    .timelineBar {
      position: relative;

      border-radius: 2rem;
      overflow: hidden;

      background-color: grey;
      height: 2px;
      width: 100%;

      transition: height 0.2s ease-in-out, margin 0.2s ease-in-out;
    }

    &:hover .timelineBar {
      height: 6px;
      margin-top: -2px;
      margin-bottom: -2px;
      background-color: rgba(255, 255, 255, 0.2);
    }

    .timelineProgress {
      background-color: white;

      border-radius: 2rem;
      overflow: hidden;
      height: 100%;

      position: absolute;
      left: 0;
    }

    &:hover .timelineProgress {
      opacity: 0.5;
    }

    .manualProgress {
      opacity: 0;
      background-color: white;

      border-radius: 2rem;
      overflow: hidden;
      height: 100%;

      position: absolute;
      left: 0;
    }

    &:hover .manualProgress {
      opacity: 0.5;
    }
  }

  .controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    gap: 0.8rem;
    flex-shrink: 2;
    min-width: 14rem;
    max-width: 36rem;

    &.disabledControls {
      .controlButton:hover {
        transform: scale(1);
      }
    }

    .controlButton {
      background-color: transparent;
      border: none;
      color: var(--white);
      cursor: pointer;
      height: 36px;
      width: 36px;
      opacity: 1;

      &:hover {
        transform: scale(1.06);
      }
    }

    .playButton {
      height: 38px;
      width: 38px;
    }
  }
}

.songSearch {
  position: relative;
  z-index: 6;
  flex-shrink: 50;
  width: 100%;
  max-width: 36rem;
  height: 2.8rem;

  margin: 0 0.6rem;
  margin-left: auto;
  overflow: visible;

  mix-blend-mode: color-burn;

  input {
    width: 100%;
    height: 100%;
    padding-left: 1.4rem;
    padding-right: 3.6rem;
    font-size: 1rem;
    background-color: rgba(172, 172, 172, 0.3);
    color: white;
    border: none !important;
    font-family: unset;
    font-weight: 500;
    mix-blend-mode: exclusion;
    border-radius: 1.4rem;
    overflow: hidden;

    /* transition: background-color var(--hover-delay) ease-in-out; */

    &::placeholder {
      mix-blend-mode: exclusion;
      padding-left: 0.1rem;
      color: white !important;
      opacity: 0.6;
    }
  }

  .searchIcon {
    z-index: 7;
    position: absolute;
    top: 0.4rem;
    bottom: 0.4rem;
    right: 1rem;
    opacity: 0.6;
    mix-blend-mode: exclusion;

    svg {
      height: 100%;
    }

    .spin {
      animation: rotate 1s linear infinite;
    }
  }

  .searchResults {
    position: absolute;
    top: 2.8rem;
    left: 0;
    right: 0;
    z-index: 5;

    display: flex;
    flex-direction: column;

    opacity: 0;
    pointer-events: none;

    background-color: var(--dark-grey-material);

    border-bottom-left-radius: 1.4rem;
    border-bottom-right-radius: 1.4rem;
    overflow: hidden;

    padding-top: 0.4rem;
    padding-bottom: 0.4rem;

    text-align: left;

    .result {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.8rem;

      padding: 0.2rem 0.6rem;

      margin-left: 0.6rem;
      margin-right: 0.6rem;
      margin-bottom: 0.4rem;

      height: 4.2rem;
      cursor: pointer;
      border-radius: 0.6rem;
      text-decoration: none !important;

      &:hover {
        background-color: var(--dark-grey-material-selected);
      }

      .resultImage {
        flex-shrink: 0;
        position: relative;
        aspect-ratio: 1;
        width: 3rem;
        height: 3rem;
        border-radius: 0.2rem;
        overflow: hidden;

        .img {
          object-fit: cover;
        }
      }

      .infoStack {
        display: flex;
        flex-direction: column;
        white-space: nowrap;
        gap: 0.24rem;
        min-width: 0;
        overflow-x: hidden;

        .artist {
          opacity: .6;
        }
      }
    }
  }

  &.songSearchSuccess:hover {
    mix-blend-mode: normal;

    input {
      background-color: var(--dark-grey-material);
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      outline: none !important;

    }

    .searchResults {
      opacity: 1;
      pointer-events: all;
    }
  }

}

@media (max-width: 64rem) {
  .player {
    .controls {
      min-width: 9rem;
    }
  }
}

@media (max-width: 52rem) {

  .player {
    gap: 2.4rem;

    .trackInfo {
      margin-right: 0rem;
    }

    .controls {
      min-width: 9rem;
    }
  }
}

@media (max-width: 40rem) {

  .player {
    gap: 1.2rem;

    .trackInfo {
      margin-right: 0rem;
    }

    .timeline {
      display: none;
    }

    .controls {
      margin-left: auto;
    }
  }
}


.body {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--y-spacing);
  width: 100%;

  padding-left: var(--x-margin);
  padding-right: var(--x-margin);

  margin: 8rem auto var(--x-margin) auto;

  .loading {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    align-items: center;
    justify-content: center;
    margin-top: 0rem;
    margin-bottom: 0rem;
    height: 1rem;
    overflow: hidden;
    transition: height 1s, margin-bottom 1s;

    .loadingBar {
      position: relative;
      height: 0.4rem;
      width: 100%;
      background-color: var(--grey);
      border-radius: 0.2rem;
      opacity: 0.6;
      width: 60%;
      overflow: hidden;

      .loadingBarFill {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;

        background-color: var(--white);
        transition: width 1s;
      }
    }

    &.percentage {
      height: 2.4rem;
    }

    &.hidden {
      height: 0;
      margin-bottom: -2.4rem;
    }
  }

  .subPlayer {
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: top;
    gap: 1.24rem;
    transform: translate3d(0, 0, 0);

    .spotifyLogo {
      position: relative;
      flex-shrink: 0;
      top: 0.136rem;
      width: 1.72rem;
      height: 1.72rem;
      margin-right: 0.16rem;
    }

    .genreList {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 0.8rem 1rem;
      font-size: 0.72rem;
      white-space: nowrap;

      .genreItem {
        padding: 0.5rem 1rem;
        border-radius: 1rem;
        border: var(--grey) solid 0.064rem;
        font-weight: 400;
        cursor: pointer;
        transition: background-color var(--hover-delay) ease-in-out, color var(--hover-delay) ease-in-out, border-color var(--hover-delay) ease-in-out;

        &:hover {
          border-color: white;
          background-color: var(--white);
          color: var(--black);
          opacity: 1;
          text-decoration: none;
        }
      }
    }

    .controlIcons {
      position: relative;
      top: 0.05rem;
      margin-left: auto;

      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      gap: 0.64rem;

      height: 1.8rem;
      cursor: pointer;


      div {
        width: 1.8rem;
        height: 1.8rem;
      }

      .libraryIcon {
        cursor: default;
      }

      .refreshIcon {
        padding: 0.05rem;
        fill: var(--grey);

        &.refreshIconRotating {
          animation: rotate 1s linear infinite;

        }
      }
    }
  }

  .libraryContext {
    margin-top: -0.6rem;

    .playlistGrid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
      gap: 1.2rem;

      .playlistInfo {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1.2rem;
        overflow: hidden;

        padding: 0.6rem;
        left: -0.6rem;

        width: auto;
        min-width: 14rem;
        max-width: 18rem;

        .cardBackground {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;

          z-index: 0;
          opacity: 0;

          background-color: var(--grey);

          border-radius: 0.4rem;
        }

        &:hover .cardBackground {
          opacity: 0.2;
        }

        .albumWrapper {
          width: 3.8rem;
          height: 3.8rem;
        }

        .albumCover {
          flex-shrink: 0;

          position: relative;
          aspect-ratio: 1;
          width: 3.8rem;
          height: 3.8rem;

          cursor: pointer;

          border-radius: 0.2rem;
          overflow: hidden;
        }

        .infoStack {
          z-index: 1;
          margin-right: 1.2rem;

          display: flex;
          flex-direction: column;
          white-space: nowrap;
          gap: 0.24rem;
          min-width: 0;
          overflow-x: hidden;

          .title {
            font-weight: 500;
            display: inline;
          }

          .owner {
            font-weight: 500;
            opacity: .4;
            display: inline;
          }
        }
      }

    }
  }

  .photoCard {
    position: relative;
    border-radius: 1.8rem;

    mix-blend-mode: normal;

    overflow: hidden;

    padding: 2.6rem 3.2rem;

    &:after {
      content: '';

      pointer-events: none;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      z-index: 2;

      transform: translate3d(0, 0, 0);

      mix-blend-mode: color-dodge;

      border-radius: 1.8rem;
      border: solid rgb(119, 119, 119, 0.7) 0.2rem;
      background-clip: border-box;
    }

    .photoCardOverlay {
      position: absolute;

      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      mix-blend-mode: overlay;
      backface-visibility: visible;

      background-color: var(--overlay-color);
      transition: background-color 1s;

      transform: translate3d(0, 0, 999rem);
      transition: transform 999999s;

      background-clip: border-box;

      z-index: -1;
    }


    .photoCardPhoto {
      position: absolute;
      transform: translate3d(0, 0, 0);
      backface-visibility: visible;
      filter: blur(10rem);
      opacity: 0.4;
      object-fit: cover;
      z-index: -2;

      mix-blend-mode: normal;

      pointer-events: none;


    }
  }

  .photoCard:hover {
    .photoCardOverlay {
      transform: translate3d(0, 0, 0rem);
    }
  }

  &:hover {
    .photoCard {
      .photoCardOverlay {
        transform: translate3d(0, 0, -999rem);
      }
    }
  }




  .photoText {
    position: relative;

    .imageWrapper {
      position: absolute;
      top: -1.8rem;
      left: -1.6rem;
      right: -1.4rem;
      bottom: -1.86rem;

      border-radius: 1.8rem;

      overflow: hidden;
      pointer-events: none;
      /* mix-blend-mode: difference; */
      z-index: -10;

      transform: translate3d(0, 0, 0);

      .image {
        object-fit: cover;
        background-color: var(--grey);
        filter: blur(0.01rem);
        opacity: 0;
        transition: opacity var(--hover-delay) ease-in-out;

      }

      .placeholder {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        opacity: 0;

        background-color: var(--dark-grey);
        transition: opacity var(--hover-delay) ease-in-out;

      }
    }

    &:hover .imageWrapper .image {
      opacity: 0.16;
    }

    &:hover .imageWrapper .placeholder {
      opacity: 1;
    }



    .gradientText {
      display: block;
      color: rgba(211, 211, 211, 0.3);
      background-clip: text !important;
    }
  }

  .journalism {
    display: flex;
    flex-direction: column;
    gap: var(--y-spacing);

    margin-right: auto;
    margin-left: auto;

    width: 100%;

    p {
      font-size: 1rem;
      font-weight: 400;
    }

    .articles {
      position: relative;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(42rem, 1fr));
      row-gap: 3.6rem;
      column-gap: 4.8rem;

      padding-left: 1.6rem;
      padding-right: 1.6rem;

      margin-top: var(--content-gap);

      @media screen and (max-width: 48rem) {
        display: flex;
        flex-direction: column;
      }

      .photoCard .photoCardOverlay {
        display: none;
      }

      .articleLink {
        position: relative;

        a:hover {
          text-decoration: none;
        }

        .articleHeader {
          display: flex;
          flex-direction: row;
          gap: 1.8rem;
          width: 100%;

          /* margin-bottom: 3.2rem; */

          color: rgba(45, 45, 45, 0.6);
          pointer-events: none;

          span {
            display: inline-block;
            font-size: 1.6rem;
            margin-right: 0.24rem;
          }

          p {
            font-size: 1.2rem;
            display: block;
            font-weight: 400;
            text-decoration: none !important;
          }
        }

        .linkSubtitle {
          width: 100%;
          margin-bottom: -0.24rem;
          margin-left: 0rem;

          display: flex;
          flex-direction: row;
          gap: 0.86rem;


          p {
            min-width: 2rem;
            font-size: 1rem;
            font-weight: 300;
            display: inline-block;
            text-align: center;
          }

          .linkWordCount {
            margin-left: auto;
            margin-right: 0.86rem
          }


        }


        .linkIcon {
          display: inline-block;
          font-size: 3.2rem;
          margin-right: 0.7rem;
          margin-bottom: -10rem;
          width: 2rem;
          text-align: center;

          vertical-align: auto;
        }

        .linkTitle {
          /* padding-right: 2rem; */

          display: inline;
          font-size: 2.4rem;
          font-weight: 300;
          line-height: 3rem;

          text-underline-offset: 0.32rem;
          text-decoration-thickness: 0.12rem;
        }

        &:hover .linkTitle {
          text-decoration: underline;
          padding-right: 0;
        }

        .linkTitle::after {
          content: '↗';
          opacity: 0;
          padding-left: 0.36rem;
          font-size: 2.6rem;
          vertical-align: middle;
          line-height: 0;
          display: inline-block;
        }

        &:hover .linkTitle::after {
          opacity: 1;
          text-decoration-color: transparent;
        }
      }

      .articleLink:first-child {
        position: absolute;
        left: 2rem;
        top: -4.8rem;
      }



      .articleCard {
        display: flex;
        flex-direction: column;
        gap: 1.24rem;

        width: 100%;
        line-height: 1.92rem;
        text-overflow: ellipsis;

        h1 {
          font-size: 1.42rem;
          font-weight: 600;

          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
        }

        .preview {
          display: -webkit-box;
          -webkit-line-clamp: 6;
          -webkit-box-orient: vertical;
          overflow: hidden;
        }
      }
    }

    .summaryIcon {
      width: 1.8rem;
      height: 1.8rem;

      position: absolute;
      top: 1.2rem;
      right: 1.2rem;
    }

    .summary {
      /* display: flex;
      flex-direction: column;
      gap: 1.92rem; */

      width: 100%;
      line-height: 1.92rem;
      z-index: 0;

      @media (min-width: 72rem) {
        transform: translateX(0);
        column-count: 2;
        column-gap: calc(1.92rem * 1.5);
      }


      p {
        display: inline;
        vertical-align: bottom;
      }

      .summaryBlock {
        padding-top: 1.92rem;
      }

      .summaryBlock:first-child {
        padding-top: 0;
      }

      .hoverMenu {
        font-size: 1rem;

        .item {
          color: rgba(255, 255, 255, 0.64);
          transition: color var(--hover-delay);

        }
      }

      .hoverMenu:hover {
        .item {
          color: var(--white);
          z-index: 3;

        }
      }

    }
  }


}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: flex-end;
  gap: 1.2rem;
  margin-top: 3.2rem;

  padding-left: var(--x-margin);
  padding-right: var(--x-margin);


  .profileCard.hoverMenu {
    position: relative;
    font-size: 0.8rem;
    font-weight: 400;
    white-space: nowrap;

    .item {
      position: relative;
      width: 2.7rem;
      height: 2.7rem;
      border-radius: 1.5rem;
      overflow: hidden;

      border: solid var(--dark-grey) 0.3rem;
      transition: border var(--hover-delay);
    }

    .menu {
      position: absolute;
      bottom: 0;
      right: 0;

      display: flex;
      flex-direction: column;
      background-color: var(--dark-grey);
      border-radius: 1.5rem;


      padding-right: 1.6rem;
      padding-left: 1.6rem;
      padding-top: 1.2rem;
      padding-bottom: 1.4rem;

      .profileEmail {
        opacity: 0.6;
      }

      a {
        display: block;
        cursor: pointer;
        padding-top: 1.4rem;
      }

      a:hover {
        font-weight: 500;
        text-decoration: none;
      }

      .profileEmail {
        padding-bottom: 0rem;
        padding-top: 0.24rem;
      }

      .profileName {
        font-weight: 500;
        opacity: 0.6;
        padding-right: 3rem;
        padding-top: 0rem;
      }

    }

  }

  .profileCard.hoverMenu:hover {
    .item {
      border: solid transparent 0.3rem;
    }
  }

  .profilePlaceholder {
    transform: scale(0.8);
    translate: 10% 10%;
  }

  .footerMessage {
    margin-left: auto;

    padding-bottom: 0.4rem;

    color: var(--grey);
    font-size: 0.8rem;
    font-weight: 300;
    text-decoration: none;
  }

  .footerLinks {
    display: flex;
    flex-direction: row;
    gap: 1.2rem;

    padding-bottom: 0.4rem;

    color: var(--grey);
    font-size: 0.8rem;
    font-weight: 300;
    text-decoration: none;
  }
}

.intro {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  align-items: center;

  padding-left: var(--x-margin);
  padding-right: var(--x-margin);
  padding-top: var(--content-gap);

  .splashText {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1.2rem;

    padding: 2.4rem;

    max-width: 48rem;

    h1 {
      font-size: 4rem;
      font-weight: 500;
      line-height: 3.2rem;
      white-space: nowrap;
    }

    .version {
      font-size: 0.8rem;
      font-weight: 400;
      margin-top: -1rem;
      margin-bottom: 0.2rem;
      padding: 0.24rem 0.36rem;

      border-radius: 0.6rem;

      color: var(--black);
      background-color: var(--white);
    }

    h2 {
      font-size: 2rem;
      font-weight: 400;
    }

    .green {
      color: var(--green);
    }

    .magic {
      display: inline-block;
      background: linear-gradient(30deg, rgb(131, 43, 213), rgb(186, 37, 154));
      background-clip: text;
      color: transparent;
    }
  }

  .splashButtons {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1.6rem;

    .loginButton {
      transform: scale(1.1);
      transition: transform var(--hover-delay) ease-in-out;

      &:hover {
        transform: scale(1.15);
      }
    }

    .songSearch {
      mix-blend-mode: normal;
      width: 14rem;
      transform: scale(1.15);
      margin-right: auto;
      transition: width var(--hover-delay) ease-in-out;

      &:hover,
      &:focus,
      &:focus-within {
        width: 24rem;
      }
    }

    .disclaimer {
      opacity: 0.6;
      line-height: 1.2rem;
    }
  }

}


@media (max-width: 48rem) {
  :root {
    --x-margin: 2.2rem;
  }

  .playlistGrid {
    grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr)) !important;
  }
}