:root {
  --black: #121212;
  --white: #ffffff;
  --grey: #777777;

  --x-margin: 3.2rem;
  --y-spacing: 2.4rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100vw;
  overflow-x: visible;
}

body {
  background-color: var(--black);
  color: var(--white);

  font-size: 0.84rem;

  min-height: 100vh;
  padding-left: 3.2rem;
  padding-right: 3.2rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;

  z-index: 0;
}

a {
  color: inherit;
  text-decoration: none;
}


.player {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  padding-left: var(--x-margin);
  padding-right: var(--x-margin);

  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 1.2rem;
  padding-bottom: 1.1rem;
  gap: 3.6rem;

  backdrop-filter: blur(2.4rem);
  -webkit-backdrop-filter: blur(2.4rem);

  z-index: 4;

  * {
    z-index: 6;
  }

  .playbackBackground {
    position: absolute;

    top: 0;
    left: -24%;
    right: -24%;
    bottom: 0;

    z-index: 3;
    opacity: 0.24;
  }


  .trackInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.6rem;
    margin-right: 1.2rem;

    .albumCover {
      position: relative;
      aspect-ratio: 1;
      width: 4rem;
      height: 4rem;

      border-radius: 0.2rem;
      overflow: hidden;

      .placeholder {
        width: 100%;
        height: 100%;
        background-color: var(--grey);
        opacity: 0.6;
      }
    }

    .infoStack {
      margin-left: 1rem;
      display: flex;
      flex-direction: column;
      white-space: nowrap;
      gap: 0.24rem;

      .songTitle {
        font-weight: 500;
      }

      .artistNames {
        font-weight: 500;
        opacity: .6;
      }
    }
  }

  .timeline {
    margin: 0 auto;
    width: 100%;
    max-width: 36rem;

    .timelineBar {
      position: relative;

      border-radius: 0.25rem;
      overflow: hidden;

      background-color: grey;
      height: 2px;
      width: 100%;
    }

    .timelineProgress {
      background-color: white;

      border-radius: 0.25rem;
      overflow: hidden;
      height: 100%;

      position: absolute;
      left: 0;
    }
  }

  .controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.8rem;

    .controlButton {
      background-color: transparent;
      border: none;
      color: var(--white);
      cursor: pointer;
      height: 36px;
      width: 36px;
    }

    .playButton {
      height: 38px;
      width: 38px;
    }
  }

}


.body {
  display: flex;
  flex-direction: column;
  gap: var(--y-spacing);
  width: 100%;

  margin: 8rem auto var(--x-margin) auto;

  .subPlayer {
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: top;
    gap: 1.12rem;

    .spotifyLogo {
      position: relative;
      flex-shrink: 0;
      top: 0.136rem;
      width: 1.72rem;
      height: 1.72rem;
      margin-right: 0.16rem;
    }

    .genreList {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 1.2rem 1rem;
      font-size: 0.72rem;
      white-space: nowrap;

      .genreItem {
        padding: 0.5rem 1rem;
        border-radius: 1rem;
        border: var(--grey) solid 0.064rem;
        font-weight: 400;
      }
    }

    .controlIcons {
      position: relative;
      top: 0.05rem;
      margin-left: auto;


      svg {
        width: 1.8rem;
        height: 1.8rem;
      }
    }

  }

  .photoCard {
    position: relative;
    border-radius: 1.8rem;

    mix-blend-mode: initial;

    overflow: hidden;

    padding: 2.6rem 3.2rem;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      z-index: 2;

      transform: translate3d(0, 0, 0);

      mix-blend-mode: color-dodge;

      border-radius: 1.8rem;
      border: solid rgb(119, 119, 119, 0.7) 0.2rem;
      background-clip: border-box;
    }


    .photoCardOverlay {
      position: absolute;

      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      mix-blend-mode: overlay;

      z-index: -2;
    }

    .photoCardPhoto {
      transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
      filter: blur(10rem);
      opacity: 0.4;
      object-fit: cover;
      z-index: -3;

      position: absolute;

    }
  }

  .photoText {
    .hiddenImage {
      position: absolute;
      top: 0;
      opacity: 0.00000001;
      pointer-events: none;
    }

    .gradientText {
      display: block;
      color: rgba(211, 211, 211, 0.3);
      background-clip: text !important;
      -webkit-background-clip: text !important;
    }
  }

  .journalism {
    display: flex;
    flex-direction: column;
    gap: var(--y-spacing);

    max-width: 72rem;
    margin-right: auto;
    margin-left: auto;

    width: 100%;

    p {
      font-size: 1rem;
      font-weight: 400;
    }

    .articles {
      /* display: grid;
      grid-template-columns: repeat(auto-fill, minmax(24rem, 1fr));
      gap: var(--y-spacing); */

      padding-left: 3rem;
      padding-right: 3rem;
      display: flex;
      flex-direction: column;
      gap: 3.6rem;
      margin-top: 2.4rem;

      .photoCard .photoCardOverlay {
        display: none;
      }

      .articleLink {

        .articleHeader {
          display: flex;
          flex-direction: row;
          gap: 1.8rem;
          width: 100%;

          margin-bottom: 3.2rem;

          color: rgba(45, 45, 45, 0.6);
          pointer-events: none;

          span {
            display: inline-block;
            font-size: 1.6rem;
            margin-right: 0.24rem;
          }

          p {
            font-size: 1.2rem;
            display: block;
            font-weight: 400;
            text-decoration: none !important;
          }
        }

        .linkSubtitle {
          width: 100%;
          margin-bottom: -0.24rem;
          margin-left: 0rem;

          display: flex;
          flex-direction: row;
          gap: 0.86rem;


          p {
            min-width: 2rem;
            font-size: 1rem;
            font-weight: 300;
            display: inline-block;
            text-align: center;
          }
        }


        .linkIcon {
          display: inline-block;
          font-size: 3.2rem;
          margin-right: 0.6rem;
          width: 2rem;
          text-align: center;

          vertical-align: auto;
        }

        .linkTitle {
          padding-right: 3rem;

          display: inline;
          font-size: 2.4rem;
          font-weight: 300;

          text-underline-offset: 0.32rem;
          text-decoration-thickness: 0.12rem;
        }

        .linkTitle:hover {
          text-decoration: underline;
        }

        .linkTitle:hover {
          padding-right: 0;
        }

        .linkTitle:hover::after {
          content: '↗';
          padding-left: 0.36rem;
          line-height: 0;
        }
      }



      .articleCard {
        display: flex;
        flex-direction: column;
        gap: 1.24rem;

        width: 100%;
        line-height: 1.92rem;
        text-overflow: ellipsis;

        h1 {
          font-size: 1.42rem;
          font-weight: 600;

          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
        }

        .preview {
          display: -webkit-box;
          -webkit-line-clamp: 6;
          -webkit-box-orient: vertical;
          overflow: hidden;
        }
      }
    }

    .summary {
      display: flex;
      flex-direction: column;
      gap: 1.92rem;
      width: 100%;
      line-height: 1.92rem;
      z-index: 0;

      .summaryIcon {
        width: 1.8rem;
        height: 1.8rem;

        position: absolute;
        top: 1.2rem;
        right: 1.2rem;
      }

    }
  }


}